body{
	background-color: black;
	color: green;
	font-family: courier;
}

div.box{
	border-style: dotted;
	border-width: 1px;
	border-color: green;
	padding: 4px;
}

#contentWrapper{
	height: 600px;
	width: 800px;
}

#battleArea{
	height: 500px;
	width: 600px;
}

#monsterArea{
	height: 490px;
	width: 390px;
	float: left;
}

#playerArea{
	height: 490px;
	width: 170px;
	float: left;
	margin-left: 10px;
}

#monsterGrid{
	height: 375px;
	width: 330px;
	margin-top: 115px;
}

div.mNrow{
	width: 330px;
	height: 15px;
}

div.mName{
	height: 15px;
	width: 100px;
	float: left;
	font-size: 12px;
	margin-left: 4px;
	margin-right: 4px;
	text-align: center;
}

div.row{
	height: 110px;
	width: 330px;
}

div.cell{
	height: 100px;
	width: 100px;
	border-style: dotted;
	border-width: 1px;
	border-color: black;
	margin: 4px;
	float: left;
	font-size: 80px;
	text-align: center;
}
/*div.cell:hover{
	border-color: green;
}*/

.pRow{
	height: 122px;
	width: 386px;
}

#p1Name,#p2Name,#p3Name,#p4Name{
	font-size: 18px;
	font-weight: bold;
}


.pInfo{
	float: left;
	height: 80px;
	width: 190px;
	border-style: dotted;
	border-width: 1px;
	border-color: green;
	margin: 4px;
	margin-left: 70px;
	padding: 5px;
}

#gameConsole{
	margin-top: 9px;
	height: 80px;
	width: 580px;
}
